services:
  sample-app:
    build:
      context: .
    labels:
      - traefik.enable=true
      - traefik.http.routers.sample-app.rule=Host(`pi.yummymeatrecipes.com`) && PathPrefix(`/sampleApp`)
      - traefik.http.middlewares.sample-app-strip.stripprefix.prefixes=/sampleApp
      - traefik.http.routers.sample-app.middlewares=sample-app-strip
      - traefik.http.services.sample-app.loadbalancer.server.port=8000
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true